@font-face {
    font-family: 'Digitalt';
    src: url("asset/digitalt/Digitalt.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Hop';
    src: url("asset/hop.otf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

* {
    -webkit-overflow-scrolling: touch;
    margin: 0;
    padding: 0;
}

html {
    overflow: scroll;
    overflow-x: hidden;
}

::-webkit-scrollbar {
    width: 0; /* Remove scrollbar space */
    background: transparent; /* Optional: just make scrollbar invisible */
}

/* Optional: show position indicator in red */
::-webkit-scrollbar-thumb {
    background: #FF0000;
}

/* Hide scrollbars in WebKit-based browsers (Chrome, Safari, Edge) */
::-webkit-scrollbar {
    display: none; /* Hide the scrollbar */
}

/* Hide scrollbars in Firefox */
html {
    scrollbar-width: none; /* Hide scrollbar */
}

:root {
    --color-board: #FFFF;
    --color-board-border: #bbada0;
    --color-tile-border: #bbada0;
    --top-height: 13.541
}

.h-out {
    height: calc(var(--top-height) * 1rem);
}

.top-out {
    top: calc((var(--top-height) * -1 / 2 + 1) * 1rem);
}

.shadow-b-container {
    box-shadow: 0 0.25rem 0 rgba(0, 0, 0, 0.25), 0 -0.25rem 0 #D1D8FF inset
}

.shadow-b-container-orange {
        box-shadow: 0 0.25rem 0 #EF8521
}


.tile {
    @apply w-[4.06rem] h-[4.06rem] text-[2.5rem]
    font-bold flex justify-center items-center absolute
    rounded-[0.563rem]

}

.tile-appear {
    animation: merged 0.2s ease-in-out;
}

@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

@keyframes merged {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.2);
    }
    100% {
        transform: scale(1);
    }
}

.tile-new {
    animation: appear 0.2s ease-in-out;
}

.tile-zero {
    @apply bg-[#F4F0FF]
}

/* colored tiles */

.x2 {
    background-color: #4CDAFE;
    color: white;
}

.x4 {
    background-color: #09B9FF;
    color: white;
}

.x8 {
    background-color: #228AED;
    color: white;
}

.x16 {
    background-color: #C286FF;
    color: white;
}

.x32 {
    background-color: #A75CF4;
    color: white;
}

.x64 {
    background-color: #7454FE;
    color: white;
}

.x128 {
    background-color: #FC8AFF;
    color: white;
    font-size: 2rem
}

.x256 {
    background-color: #DA57F0;
    color: white;
    font-size: 2rem

}

.x512 {
    background-color: #DA29C8;
    color: white;
    font-size: 2rem
}

.x1024 {
    background-color: #FFDD17;
    color: white;
    font-size: 1.5rem
}

.x2048 {
    background-color: #FFB213;
    color: white;
    font-size: 1.5rem
}

.x4096 {
    background-color: #FE9844;
    color: white;
    font-size: 1.5rem
}

.x8192 {
    background-color: #FF6F1E;
    color: white;
    font-size: 1.5rem
}

.x16384 {
    background-color: #86EF04;
    color: white;
    font-size: 2rem
}

.x32768 {
    background-color: #62DD02;
    color: white;
    font-size: 2rem
}

.x65536 {
    background-color: #4EC307;
    color: white;
    font-size: 2rem
}