@font-face {
    font-family: 'Digitalt';
    src: url("asset/digitalt/Digitalt.ttf") format('truetype');
    font-weight: normal;
    font-style: normal;
}

:root {
    --color-board: #FFFF;
    --color-board-border: #bbada0;
    --color-tile-border: #bbada0
}

#board {
    width: 18.75rem;
    height: 18.75rem;
    background-color: var(--color-board);
    margin: 0 auto;
    position: relative;
}

.tile {
    width: 4.06rem;
    height: 4.06rem;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    /*transition: left 0.1s linear, top 0.1s linear;*/
}
/*.tile-appear {*/
/*    animation: appear 0.2s ease-in-out;*/
/*}*/
@keyframes appear {
    0% {
        opacity: 0;
        transform: scale(0);
    }
    100% {
        opacity: 1;
        transform: scale(1);
    }
}

.tile-new {
    /*animation: appear 1s ease-in-out;*/
}



/* colored tiles */

.x2 {
    background-color: #eee4da;
    color: #727371;
}

.x4 {
    background-color: #ece0ca;
    color: #727371;
}

.x8 {
    background-color: #f4b17a;
    color: white;
}

.x16 {
    background-color: #f59575;
    color: white;
}

.x32 {
    background-color: #f57c5f;
    color: white;
}

.x64 {
    background-color: #f65d3b;
    color: white;
}

.x128 {
    background-color: #edce71;
    color: white;
}

.x256 {
    background-color: #edcc63;
    color: white;
}

.x512 {
    background-color: #edc651;
    color: white;
}

.x1024 {
    background-color: #eec744;
    color: white;
}

.x2048 {
    background-color: #ecc230;
    color: white;
}

.x4096 {
    background-color: #fe3d3d;
    color: white;
}

.x8192 {
    background-color: #ff2020;
    color: white;
}
